.main {
  margin: 0 auto;
}

/* Title/Logo sidebar styles =================================== */
.static {
  text-align: center;
  position: sticky;
  top: 0px;
  background-color: black;
  padding: 1em 2em;
  width: 100%;
  margin: 0 auto;
}
.static:after {
  content: '';
  background: #c4c4c4;
  position: absolute;
  bottom: -1px;
  right: 7.5%;
  width: 85%;
  height: 1px;
  margin: 0 auto;
}


.title {
  color: white;
}

/* Scrollable Area Styles ====================================== */
.info {
  padding: 2em;
  right: 0;

}

.qa {
  /* border-bottom: 1px dashed #c4c4c4; */
  margin-bottom: 3em;
}
.qa h2 {
  margin-bottom: 0;
}

.qa p {
  margin-left: 3em;
}

.role {
   font-style: italic;
 }

 /* Responsive Styles =========================================== */
 
@media screen and (min-width:750px) {
  .main {
    display: flex;
  }

  .title > span {
    display: block;
    text-align: right;
  }

  .static {
    text-align: center;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 25%;
  }

/* That Divider Line */
  .static:after {
    content: '';
    background: #c4c4c4;
    position: absolute;
    right: -1px;
    width: 1px;
    height: 85%;
    top: 7.5%;
  }

  .info {
    width: 75%;
    margin-left: 25vw;
  }
}