.main {
  margin: 0 auto;
}

/* Title/Logo sidebar styles =================================== */
.static {
  text-align: center;
  position: sticky;
  top: 0px;
  background-color: black;
  padding: 1em 2em;
  width: 100%;
  margin: 0 auto;
  align-items: center;
}
.wrapper {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
}
.titleWrapper {
  display: flex;
}
.logoWrapper {
  display: flex;
  font-size: 1.5em;
}
.titleWrapper h1 {
  align-self: center;
  justify-self: center;
  margin-left: 1em;
}
.logo {
  align-self: center;
  height: 3em;
  width: 3em;
}
/* That Divider Line */
.static:after {
  content: '';
  background: #c4c4c4;
  position: absolute;
  bottom: -1px;
  right: 7.5%;
  width: 85%;
  height: 1px;
  margin: 0 auto;
}
.title {
  display: inline-block;
  color: white;
}

/* Scrollable Area Styles ====================================== */
.info {
  padding: 2em;
  right: 0;
}
section.person {
  display: flex; /* this isn't applying */
  flex-direction: row;
  font-size: 1rem;
  height: 1.4rem;
}
.imageWrapper {
  max-width: 30px;
  display: flex;
  overflow: hidden;
}
.peopleWrapper {
  display: flex;
  align-self: center; /* this isn't applying */
}
.qa {
  margin-bottom: 3em;
  justify-self: center;
  align-self: center;
  display: flex;
  flex-direction: column;
}
.qa p {
  margin-left: 3em;
}
.role {
  font-style: italic;
}

/* Responsive Styles =========================================== */

@media screen and (min-width: 800px) {
  .main {
    display: flex;
  }

  .title > span {
    display: block;
    text-align: right;
  }

  .static {
    text-align: right;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 25%;
  }

  .wrapper {
    flex-direction: column;
    align-items: flex-end;
  }
  .logo {
    justify-self: flex-end;
  }

  /* That Divider Line */
  .static:after {
    content: '';
    background: #c4c4c4;
    position: absolute;
    right: -1px;
    width: 1px;
    height: 85%;
    top: 7.5%;
  }
  .info {
    width: 75%;
    margin-left: 25vw;
  }
}
